// Specific CSS for your home-page
.container {
background-color: #EDF5FB;
width: 768px;
height: 1024px;
}

.bargename {
display: flex;
}

.form {
  margin-top: 100px;
}

.trip {
  display: flex;
  width: 600px;
  margin-top: 50px;
  margin-left: 75px;
}

.trip-text {
height: 40px;
background-color: #0C5755;
width: 200px;
font-size: 14px;
font-weight: bold;
color: #FFFFFF;
text-align: center;
border-radius: 8px 0px 0px 8px;
padding: 7px 15px;
}

.trip-field {
 background-color: white;
height: 40px;
color: #0C5755;
width: 350px;
text-align: center;
border-radius: 0px 8px 8px 0px !important;
}

input#tripnumber, input#trip-field {
  border: 1px solid white;
  height: 40px;
  border-radius: 0px 8px 8px 0px !important;
}

.activity {
  display: flex;
  width: 600px;
  margin-top: 100px;
  margin-left: 75px;
}

.header1 {
  color: #0C5755;
  font-size: 32px;
  margin-left: 75px;
  // margin-top: 50px;


}

.activity-text {
height: 40px;
background-color: #0C5755;
width: 200px;
font-size: 14px;
font-weight: bold;
color: #FFFFFF;
text-align: center;
border-radius: 8px 0px 0px 8px;
padding: 7px 15px;


}

.activity-field {
background-color: white;
height: 40px;
color: #0C5755;
width: 350px;
text-align: center;
border-radius: 0px 8px 8px 0px !important;

}

select#activity, input#activity-field {
  border: 1px white;
  height: 40px;
}

.date {
display: flex;
  width: 600px;
  margin-top: 100px;
  margin-left: 75px;
}


.date-text {
height: 40px;
background-color: #0C5755;
width: 200px;
font-size: 14px;
font-weight: bold;
color: #FFFFFF;
text-align: center;
border-radius: 8px 0px 0px 8px;
padding: 7px 15px;


}

.date-field {
background-color: white;
height: 40px;
color: #0C5755;
width: 350px;
text-align: center;
border-radius: 0px 8px 8px 0px !important;

}

input#matriculation_date, input#date-field {
  border: 1px solid white;
  height: 40px;
  border-radius: 0px 8px 8px 0px !important;
}

.time {
display: flex;
  width: 600px;
  margin-top: 100px;
  margin-left: 75px;
  border-radius: 0px 8px 8px 0px;

}

.time-text {
height: 40px;
background-color: #0C5755;
width: 200px;
font-size: 14px;
color: #FFFFFF;
font-weight: bold;
text-align: center;
border-radius: 8px 0px 0px 8px;
padding: 7px 15px;


}

.time-field {
background-color: white;
height: 40px;
color: #0C5755;
width: 350px;
text-align: center;
border-radius: 0px 8px 8px 0px;

}

input#recieved, input#time-field {
  border: 1px solid white;
  height: 40px;
  width: 300px;
}


.submit {
  margin-top: 100px;
  margin-left: 445px;
  font-family: $body-font;
  color: black;
  font-size: 12px;
  background-color: #F7DB64;
  font-weight: bold;
  padding: 8px 24px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 182px;
  height: 40px;
  a {
    color: $black;
    text-decoration: none;
  }
}

.linkto {
  margin-top: 100px;
}
