// Specific CSS for your home-page
// .container {
// background-color: white;
// width: 768px;
// height: 1024px;
// display: grid;
// grid-template-columns: 1fr 1fr 1fr;
// grid-template-rows: 50px 50px;
// }

.container {
}

.bargename {
display: flex;
}

.form {
width: 375px;
background: #FFFFFF 0% 0% no-repeat padding-box;
// margin-top: -20px;
// box-shadow: 0px 1px 6px #05404055;
// opacity: 1;
// margin-left: 45px;
height: 600px;
// position: absolute;
// z-index: 1;

}


#infoi {
  z-index: 10;
}


.trip {
  // display: flex;
  width: 300px;
  margin-left: 35px;
  padding-top: 20px;
}

.trip-text {
height: 30px;
background-color: white;
width: 270px;
font-size: 13px;
font-weight: bold;
color: #4E8483;
text-align: left;
border-radius: 41px;
padding: 8px 15px;
}

.trip-field {
 background-color: white;
height: 40px;
color: #4E8483;
width: 270px;
text-align: center;
// border-radius: 41px !important;
// border: 2px solid #8E8E8E;
// border-style: solid;
// opacity: 1;
}

input#position_tripnumber, input#trip-field {
  border: 1px  white;
  height: 45px;
  border-radius: 41px !important;
  margin-top: 2px;
  width: 300px;
  margin-left: 6px;
  background: white !important;
  color: #8E8E8E;
  border: 2px solid #8E8E8E;
  // text-align: center;
    -webkit-appearance:none;
    font-size: 13px;

}

.activity {
  // display: flex;
  width: 300px;
  margin-top: 15px;
  margin-left: 40px;
}

.welcome {
  color: white;
  font: Helvetica;
  // font-weight: bold;
  // font-size: 35px;
  // margin-left: 150px;
  padding: 40px 0px 40px 0px;
  background: #2C3E50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

opacity: 1;
height: 75px;
width: 375px;
text-align: center;
}

.welcome-text {
  font-weight: bold;
  font-size: 20px;
text-align: center;
margin-top: 5px;
}

.out {
text-align: right;
padding-right: 15px;
margin-top: -40px;
color: white;
font-size: 10px;
}

.activity-text {
height: 30px;
// background-color: #0C5755;
width: 270px;
font-size: 13px;
font-weight: bold;
color: #4E8483;
text-align: left;
border-radius: 8px 0px 0px 8px;
padding: 8px 10px;


}

.activity-field {
 background-color: white;
height: 45px;
color: #4E8483;
width: 300px;
text-align: center;
border-radius: 41px !important;
border: 2px solid #8E8E8E;
border-style: solid;
opacity: 1;
}

select#position_activity, input#activity-field {
 border: 1px  white;
  height: 32px;
  border-radius: 41px !important;
  // margin-top: 2px;
  width: 290px;
  // margin-left: 13px;
  // background: white !important;
  color: #8E8E8E;
  // border: 2px solid #8E8E8E;
  // text-align: left;
  margin-top: 5px;
  box-shadow: 0s;
  -webkit-appearance:none;
  font-size: 13px;
  padding-bottom: 8px;
}


.date {
// display: flex;
  width: 300px;
  margin-top: 15px;
  margin-left: 35px;
}


.date-text {
height: 30px;
// background-color: #0C5755;
width: 270px;
font-size: 13px;
font-weight: bold;
color: #4E8483;
text-align: left;
border-radius: 25px;
padding: 8px 15px;


}

.date-field {
background-color: white;
height: 40px;
color: #4E8483;
width: 270px;
text-align: center;
// border-radius: 41px !important;
// border: 2px solid #8E8E8E;
// border-style: solid;
// opacity: 1;
}

input#position_date, input#date-field {
  // border: 1px solid white;
  height: 45px;
  // border-radius: 10px 10px 10px 10px !important;
  margin-top: 2px;
  width: 300px;
  margin-left: 4px;
  background-color: white;
  color: #8E8E8E;
  border: 2px solid #8E8E8E;
  border-radius: 41px !important;
  // text-align: left;
  padding-left: 13px;
    -webkit-appearance:none;
  font-size: 13px;


}

.time {
// display: flex;
  width: 300px;
  margin-top: 15px;
  margin-left: 35px;
  border-radius: 0px 8px 8px 0px;

}

.time-text {
height: 30px;
// background-color: #0C5755;
width: 270px;
font-size: 13px;
color: #4E8483;
font-weight: bold;
text-align: left;
border-radius: 8px 0px 0px 8px;
padding: 8px 15px;


}

.time-field {
background-color: white;
height: 40px;
color: #4E8483;
width: 270px;
text-align: center;
// border-radius: 41px !important;
// border: 2px solid #8E8E8E;
// border-style: solid;
// opacity: 1;
}

input#position_time, input#time-field {
  border: 1px solid white;
  height: 45px;
  width: 300px;
  margin-top: 2px;
  margin-left: 5px;
  background-color: white;
  color: #8E8E8E;
  border-radius: 41px !important;
border: 2px solid #8E8E8E;
  -webkit-appearance:none;
  padding-left: 10px;
  font-size: 13px;

}


.buttons {
  display: flex;
  width: 368px;
  justify-content: space-between;
  // margin-left: 150px;

}


.submit {
  margin-top: 15px;
  margin-left: 35px;
  font-family: $body-font;
  color: white;
  font-size: 12px;
  background: #32B1B4 0% 0% no-repeat padding-box;  padding: 8px 24px;
  border-radius: 41px;
  // display: flex;
  // align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 300px;
  height: 45px;
  border: none;
  a {
    // color: $black;
    text-decoration: none;
  }
}

.linkto {
  margin-top: 100px;
}

.submit1 {
  margin-top: 100px;
  // margin-left: 345px;
  font-family: $body-font;
  color: #0C5755;
  font-size: 12px;
  background-color: white;
  font-weight: bold;
  padding: 8px 24px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 150px;
  height: 40px;
  border: 1px solid black;
  a {
    // color: $black;
    text-decoration: none;
  }
}

a { color: white;
}




textarea#position_comment {
  border: 1px solid white;
  height: 100px;
  width: 300px;
  margin-top: 2px;
  // margin-top: 50px;
  background-color: white;
  color: #8E8E8E;
  border-radius: 25px !important;
border: 2px solid #8E8E8E;
text-align: left;
padding: 12px;
font-size: 13px;
  -webkit-appearance:none;

}


.comment {
// display: flex;
  width: 300px;
  margin-top: 15px;
  margin-left: 35px;
  border-radius: 0px 8px 8px 0px;

}

.comment-text {
height: 30px;
// background-color: #0C5755;
width: 300px;
font-size: 13px;
color: #4E8483;
font-weight: bold;
text-align: left;
padding: 8px 15px;

}

