.navbar {
  background: #EDF5FB;
  height: 73px;
  padding: 0px 50px;
  padding-right: 0px;
}

.navbar-green {
  background: #EDF5FB !important;
}

.navbar-home {
  position: fixed;
  display: sticky;
  z-index: 2;
  width: 100%;
  background: rgba(244, 244, 244, 0.0);
  height: 73px;
  padding: 0px 50px;
  padding-right: 0px;
  .navbar-item {
    background: rgba(244, 244, 244, 0.0) !important;
  }
}
